.transaction {
  padding: 0 10px;
  padding-bottom: 20px;

  &__dialog-wrapper{
    overflow: hidden;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    & p {
      padding: 0 17px 0 0;
    }
  }

  &__title h2 {
    font-size: 16px;
    font-weight: 700;
  }

  &__on-click {
    font-weight: 700;
    background-color: #f1f1f1;
  }



  &__dialog {
  padding: 15px 15px;
  // padding-bottom: 15px;

  background-color: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


  // animation-iteration-count: 1;
  // animation-duration: 1s;
  // animation-name: slidegdz;
  }

  & input, select {
    margin: 5px 0;
  }

  &__dialog-type-wrapper {
    display: flex;
    justify-content: flex-end;


    padding: 5px 0;
  }

  &__delete-btn {
    margin-right: auto;
    color: red;
    background-color: transparent;
    border: none;
  }

  &__dialog-type {
    display: flex;
    align-items: center;

    & input {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0;
      margin-right: 5px;
      cursor: pointer;
    }

    & label {
      cursor: pointer;
    }
  }

  &__dialog-btn {
    color:black;
    padding-top:1.8em;
    display:inline-block;/* or block */
    position:relative;
    border-color:black;
    text-decoration:none;
    cursor: pointer;
    transition:all .3s ease-out;

    &::before {
      content:'▲';
      position:absolute;
      top:0;
      right:0;
      margin-left:-.7em;
      transition:transform .5s ease-in;
    }

    &:hover:before{
      transform: rotate(180deg);
    }

    &--click::before{
      transform: rotate(180deg);
    }
  }

  &__dialog {
    &--hidden {
      display:none;
    }
    &--fade-in {
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-name: slidegdz;
    }
    &--fade-out {
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-name: slidegdz1;
    }
  }
}

@keyframes slidegdz {
  0% { transform: translate(0, -100%); }
  100% { transform: translate(0, 0); }
}

@keyframes slidegdz1 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, -100%); }
}
