.transactions {
  & h2 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-top: 10px;
    padding: 10px 15px;

    // height: 30px;
    // padding: 0 15px;

    // font-weight: 700;
    // font-size: 25px;
    // color: #727272;

    // background-color: #f1f1f1;
    // border-radius: 5px;
    // border-top: 1px dashed #727272;
    border-bottom: 1px dashed #d4d4d4;

    // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    & >p {
      font-weight: 700;
    }
  }

  &__date-content {
    display: flex;
    align-items: center;
    & p {
      font-size: 30px;
      margin-right: 15px;
    }
  }

  &__date-wrapper {
    line-height: 14px;

    & p {
      font-size: 12px;
      color: #727272;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: 10px 15px;
    padding-left: 65px;

    // border-bottom: 1px dashed #727272;

    // &--expense {
    //   color: red;
    // }

    // &--income {
    //   color: green;
    // }

    &::before {
      content: '';
      position: absolute;
      left: 15px;

      display: block;
      width: 35px;
      height: 35px;

      background-color: #f1f1f1;
      border-radius: 20%
    }

    &--account {
      color: #727272;
      cursor: pointer;
    }

    &--edit {
      color: #727272;
      cursor: pointer;
    }

    &--close {
      color: #727272;
      cursor: pointer;
    }

    &:hover {
      background-color: #f1f1f1;
      border-radius: 5px;

      // .transactions-list__item--edit {
      //   display: block;
      // }
    }

    &--on-click {
      background-color: #f1f1f1;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      // pointer-events: none;
    }
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // p:first-of-type {
    //   font-weight: 700;
    // }
  }
}
